# Models Comparison

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
pd.set_option('display.max_columns', None)
import warnings
warnings.filterwarnings('ignore')
import statsmodels.api as sm

In [2]:
df = pd.read_csv ("file:///Users/genevauy/Desktop/Data_Marketing_Customer_Analysis_Round3.csv")

In [3]:
df

,region,customer_lifetime_value,response,coverage,education,effective_to_date,month,employment_status,gender,income,location_code,marital_status,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size
0,central,4809,no,basic,college,2/18/11,feb,employed,m,48029,suburban,married,61,7,52,0,9,corporate auto,corporate l3,offer3,agent,292,four-door car,medsize
1,west region,2228,no,basic,college,1/18/11,jan,unemployed,f,92260,suburban,single,64,3,26,0,1,personal auto,personal l3,offer4,call center,744,four-door car,medsize
2,east,14947,no,basic,bachelor,2/10/11,feb,employed,m,22139,suburban,single,100,34,31,0,2,personal auto,personal l3,offer3,call center,480,suv,medsize
3,north west,22332,yes,extended,college,1/11/11,jan,employed,m,49078,suburban,single,97,10,3,0,2,corporate auto,corporate l3,offer2,branch,484,four-door car,medsize
4,north west,9025,no,premium,bachelor,1/17/11,jan,medical leave,f,23675,suburban,married,117,33,31,0,7,personal auto,personal l2,offer1,branch,707,four-door car,medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10684,central,15563,no,premium,bachelor,1/19/11,jan,unemployed,f,61541,suburban,married,253,12,40,0,7,personal auto,personal l1,offer3,web,1214,luxury car,medsize
10685,north west,5259,no,basic,college,1/6/11,jan,employed,f,61146,urban,married,65,7,68,0,6,personal auto,personal l3,offer2,branch,273,four-door car,medsize
10686,central,23893,no,extended,bachelor,2/6/11,feb,employed,f,39837,rural,married,201,11,63,0,2,corporate auto,corporate l3,offer1,web,381,luxury suv,medsize
10687,west region,11971,no,premium,college,2/13/11,feb,employed,f,64195,urban,divorced,158,0,27,4,6,personal auto,personal l1,offer1,branch,618,suv,medsize
10688,central,6857,no,basic,bachelor,1/8/11,jan,unemployed,m,68942,suburban,single,101,31,1,0,3,personal auto,personal l1,offer4,web,1021,suv,medsize

#### Dropping the effective_to_date column as it became problematic during pd.get_dummies

In [4]:
df = df.drop('effective_to_date', axis=1).reset_index(drop=True)

df

,region,customer_lifetime_value,response,coverage,education,month,employment_status,gender,income,location_code,marital_status,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size
0,central,4809,no,basic,college,feb,employed,m,48029,suburban,married,61,7,52,0,9,corporate auto,corporate l3,offer3,agent,292,four-door car,medsize
1,west region,2228,no,basic,college,jan,unemployed,f,92260,suburban,single,64,3,26,0,1,personal auto,personal l3,offer4,call center,744,four-door car,medsize
2,east,14947,no,basic,bachelor,feb,employed,m,22139,suburban,single,100,34,31,0,2,personal auto,personal l3,offer3,call center,480,suv,medsize
3,north west,22332,yes,extended,college,jan,employed,m,49078,suburban,single,97,10,3,0,2,corporate auto,corporate l3,offer2,branch,484,four-door car,medsize
4,north west,9025,no,premium,bachelor,jan,medical leave,f,23675,suburban,married,117,33,31,0,7,personal auto,personal l2,offer1,branch,707,four-door car,medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10684,central,15563,no,premium,bachelor,jan,unemployed,f,61541,suburban,married,253,12,40,0,7,personal auto,personal l1,offer3,web,1214,luxury car,medsize
10685,north west,5259,no,basic,college,jan,employed,f,61146,urban,married,65,7,68,0,6,personal auto,personal l3,offer2,branch,273,four-door car,medsize
10686,central,23893,no,extended,bachelor,feb,employed,f,39837,rural,married,201,11,63,0,2,corporate auto,corporate l3,offer1,web,381,luxury suv,medsize
10687,west region,11971,no,premium,college,feb,employed,f,64195,urban,divorced,158,0,27,4,6,personal auto,personal l1,offer1,branch,618,suv,medsize
10688,central,6857,no,basic,bachelor,jan,unemployed,m,68942,suburban,single,101,31,1,0,3,personal auto,personal l1,offer4,web,1021,suv,medsize

## Dividing the DataFrame into numerical and categorical

In [5]:
categorical = df.select_dtypes(include=['object', 'category'])

numerical = df.select_dtypes(include=['int', 'float'])

print("Categorical variables:")
print(categorical.columns)

print("\nNumerical variables:")
print(numerical.columns)

Categorical variables:
Index(['region', 'response', 'coverage', 'education', 'month',
       'employment_status', 'gender', 'location_code', 'marital_status',
       'policy_type', 'policy', 'renew_offer_type', 'sales_channel',
       'vehicle_class', 'vehicle_size'],
      dtype='object')

Numerical variables:
Index(['customer_lifetime_value', 'income', 'monthly_premium_auto',
       'months_since_last_claim', 'months_since_policy_inception',
       'number_of_open_complaints', 'number_of_policies',
       'total_claim_amount'],
      dtype='object')

In [6]:
numerical

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,total_claim_amount
0,4809,48029,61,7,52,0,9,292
1,2228,92260,64,3,26,0,1,744
2,14947,22139,100,34,31,0,2,480
3,22332,49078,97,10,3,0,2,484
4,9025,23675,117,33,31,0,7,707
...,...,...,...,...,...,...,...,...
10684,15563,61541,253,12,40,0,7,1214
10685,5259,61146,65,7,68,0,6,273
10686,23893,39837,201,11,63,0,2,381
10687,11971,64195,158,0,27,4,6,618
10688,6857,68942,101,31,1,0,3,1021

# Categorical

In [7]:
categorical

,region,response,coverage,education,month,employment_status,gender,location_code,marital_status,policy_type,policy,renew_offer_type,sales_channel,vehicle_class,vehicle_size
0,central,no,basic,college,feb,employed,m,suburban,married,corporate auto,corporate l3,offer3,agent,four-door car,medsize
1,west region,no,basic,college,jan,unemployed,f,suburban,single,personal auto,personal l3,offer4,call center,four-door car,medsize
2,east,no,basic,bachelor,feb,employed,m,suburban,single,personal auto,personal l3,offer3,call center,suv,medsize
3,north west,yes,extended,college,jan,employed,m,suburban,single,corporate auto,corporate l3,offer2,branch,four-door car,medsize
4,north west,no,premium,bachelor,jan,medical leave,f,suburban,married,personal auto,personal l2,offer1,branch,four-door car,medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10684,central,no,premium,bachelor,jan,unemployed,f,suburban,married,personal auto,personal l1,offer3,web,luxury car,medsize
10685,north west,no,basic,college,jan,employed,f,urban,married,personal auto,personal l3,offer2,branch,four-door car,medsize
10686,central,no,extended,bachelor,feb,employed,f,rural,married,corporate auto,corporate l3,offer1,web,luxury suv,medsize
10687,west region,no,premium,college,feb,employed,f,urban,divorced,personal auto,personal l1,offer1,branch,suv,medsize
10688,central,no,basic,bachelor,jan,unemployed,m,suburban,single,personal auto,personal l1,offer4,web,suv,medsize

In [8]:
# Assuming you have a DataFrame named 'categorical'

data_types = categorical.dtypes

print(data_types)

region               object
response             object
coverage             object
education            object
month                object
employment_status    object
gender               object
location_code        object
marital_status       object
policy_type          object
policy               object
renew_offer_type     object
sales_channel        object
vehicle_class        object
vehicle_size         object
dtype: object

In [9]:
categorical['education'].head(10)

0                 college
1                 college
2                bachelor
3                 college
4                bachelor
5    high school or below
6                  doctor
7    high school or below
8                 college
9                  master
Name: education, dtype: object

## Defining the ordinal and nominal columns

In [10]:

ordinal_columns = ['coverage', 'education', 'renew_offer_type', 'vehicle_size','location_code','month']

all_columns = categorical.columns.tolist()

nominal_columns = [col for col in all_columns if col not in ordinal_columns]

print("Ordinal columns:")
print(ordinal_columns)
print("\nNominal columns:")
print(nominal_columns)

Ordinal columns:
['coverage', 'education', 'renew_offer_type', 'vehicle_size', 'location_code', 'month']

Nominal columns:
['region', 'response', 'employment_status', 'gender', 'marital_status', 'policy_type', 'policy', 'sales_channel', 'vehicle_class']

### Using get_dummies for the nominal columns

In [11]:
nominal_encoded = pd.get_dummies(categorical[nominal_columns])

nominal_encoded

,region_central,region_east,region_north west,region_west region,response_no,response_yes,employment_status_disabled,employment_status_employed,employment_status_medical leave,employment_status_retired,employment_status_unemployed,gender_f,gender_m,marital_status_divorced,marital_status_married,marital_status_single,policy_type_corporate auto,policy_type_personal auto,policy_type_special auto,policy_corporate l1,policy_corporate l2,policy_corporate l3,policy_personal l1,policy_personal l2,policy_personal l3,policy_special l1,policy_special l2,policy_special l3,sales_channel_agent,sales_channel_branch,sales_channel_call center,sales_channel_web,vehicle_class_four-door car,vehicle_class_luxury car,vehicle_class_luxury suv,vehicle_class_sports car,vehicle_class_suv,vehicle_class_two-door car
0,1,0,0,0,1,0,0,1,0,0,0,0,1,0,1,0,1,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0
1,0,0,0,1,1,0,0,0,0,0,1,1,0,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,0,0,1,0,1,0,0,0,0,0
2,0,1,0,0,1,0,0,1,0,0,0,0,1,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,1,0
3,0,0,1,0,0,1,0,1,0,0,0,0,1,0,0,1,1,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0
4,0,0,1,0,1,0,0,0,1,0,0,1,0,0,1,0,0,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10684,1,0,0,0,1,0,0,0,0,0,1,1,0,0,1,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0
10685,0,0,1,0,1,0,0,1,0,0,0,1,0,0,1,0,0,1,0,0,0,0,0,0,1,0,0,0,0,1,0,0,1,0,0,0,0,0
10686,1,0,0,0,1,0,0,1,0,0,0,1,0,0,1,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0
10687,0,0,0,1,1,0,0,1,0,0,0,1,0,1,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0
10688,1,0,0,0,1,0,0,0,0,0,1,0,1,0,0,1,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0

### control data

In [12]:
categorical['education'].head(10)

0                 college
1                 college
2                bachelor
3                 college
4                bachelor
5    high school or below
6                  doctor
7    high school or below
8                 college
9                  master
Name: education, dtype: object

## using Ordinal Encoder for ordinal_columns

In [13]:
from sklearn.preprocessing import OrdinalEncoder

education_hierarchy = ['high school or below', 'college', 'bachelor', 'master', 'doctor']
coverage_hierarchy = ['basic', 'extended', 'premium']
renew_offer_type_hierarchy = ['offer1', 'offer2', 'offer3', 'offer4']
vehicle_size_hierarchy = ['small', 'medsize', 'large']
location_code_hierarchy = ['rural','suburban','urban']
month_hierarchy = ['jan','feb']

encoder1 = OrdinalEncoder(categories=[education_hierarchy])
encoder2 = OrdinalEncoder(categories=[coverage_hierarchy])
encoder3 = OrdinalEncoder(categories=[renew_offer_type_hierarchy])
encoder4 = OrdinalEncoder(categories=[vehicle_size_hierarchy])
encoder5 = OrdinalEncoder(categories=[location_code_hierarchy])
encoder6 = OrdinalEncoder(categories=[month_hierarchy])

ordinal_encoded = pd.DataFrame({
    'education_encoded': encoder1.fit_transform(df[['education']]).flatten().astype(int),
    'coverage_encoded': encoder2.fit_transform(df[['coverage']]).flatten().astype(int),
    'renew_offer_type_encoded': encoder3.fit_transform(df[['renew_offer_type']]).flatten().astype(int),
    'vehicle_size_encoded': encoder4.fit_transform(df[['vehicle_size']]).flatten().astype(int),
    'location_code_encoded': encoder5.fit_transform(df[['location_code']]).flatten().astype(int),
    'month_encoded': encoder6.fit_transform(df[['month']]).flatten().astype(int)}) #storing the results in a DataFrame named "ordinal_encoded"
# .flatten().astype(int)  convert the resulting 2D array into a 1D array and ensure the data type is integer.

In [14]:
ordinal_encoded

,education_encoded,coverage_encoded,renew_offer_type_encoded,vehicle_size_encoded,location_code_encoded,month_encoded
0,1,0,2,1,1,1
1,1,0,3,1,1,0
2,2,0,2,1,1,1
3,1,1,1,1,1,0
4,2,2,0,1,1,0
...,...,...,...,...,...,...
10684,2,2,2,1,1,0
10685,1,0,1,1,2,0
10686,2,1,0,1,0,1
10687,1,2,0,1,2,1
10688,2,0,3,1,1,0

### compare this to control:

In [15]:
ordinal_encoded ['education_encoded'].head(10)

0    1
1    1
2    2
3    1
4    2
5    0
6    4
7    0
8    1
9    3
Name: education_encoded, dtype: int64

# Concatenate ordinal_encoded and nominal_encoded as categorical_encoded

In [16]:
categorical_encoded = pd.concat([ordinal_encoded, nominal_encoded], axis=1)

In [17]:
categorical_encoded

,education_encoded,coverage_encoded,renew_offer_type_encoded,vehicle_size_encoded,location_code_encoded,month_encoded,region_central,region_east,region_north west,region_west region,response_no,response_yes,employment_status_disabled,employment_status_employed,employment_status_medical leave,employment_status_retired,employment_status_unemployed,gender_f,gender_m,marital_status_divorced,marital_status_married,marital_status_single,policy_type_corporate auto,policy_type_personal auto,policy_type_special auto,policy_corporate l1,policy_corporate l2,policy_corporate l3,policy_personal l1,policy_personal l2,policy_personal l3,policy_special l1,policy_special l2,policy_special l3,sales_channel_agent,sales_channel_branch,sales_channel_call center,sales_channel_web,vehicle_class_four-door car,vehicle_class_luxury car,vehicle_class_luxury suv,vehicle_class_sports car,vehicle_class_suv,vehicle_class_two-door car
0,1,0,2,1,1,1,1,0,0,0,1,0,0,1,0,0,0,0,1,0,1,0,1,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0
1,1,0,3,1,1,0,0,0,0,1,1,0,0,0,0,0,1,1,0,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,0,0,1,0,1,0,0,0,0,0
2,2,0,2,1,1,1,0,1,0,0,1,0,0,1,0,0,0,0,1,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,1,0
3,1,1,1,1,1,0,0,0,1,0,0,1,0,1,0,0,0,0,1,0,0,1,1,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0
4,2,2,0,1,1,0,0,0,1,0,1,0,0,0,1,0,0,1,0,0,1,0,0,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10684,2,2,2,1,1,0,1,0,0,0,1,0,0,0,0,0,1,1,0,0,1,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0
10685,1,0,1,1,2,0,0,0,1,0,1,0,0,1,0,0,0,1,0,0,1,0,0,1,0,0,0,0,0,0,1,0,0,0,0,1,0,0,1,0,0,0,0,0
10686,2,1,0,1,0,1,1,0,0,0,1,0,0,1,0,0,0,1,0,0,1,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0
10687,1,2,0,1,2,1,0,0,0,1,1,0,0,1,0,0,0,1,0,1,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0
10688,2,0,3,1,1,0,1,0,0,0,1,0,0,0,0,0,1,0,1,0,0,1,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0

In [33]:
categorical_encoded.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10689 entries, 0 to 10688
Data columns (total 44 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   education_encoded                10689 non-null  int64
 1   coverage_encoded                 10689 non-null  int64
 2   renew_offer_type_encoded         10689 non-null  int64
 3   vehicle_size_encoded             10689 non-null  int64
 4   location_code_encoded            10689 non-null  int64
 5   month_encoded                    10689 non-null  int64
 6   region_central                   10689 non-null  uint8
 7   region_east                      10689 non-null  uint8
 8   region_north west                10689 non-null  uint8
 9   region_west region               10689 non-null  uint8
 10  response_no                      10689 non-null  uint8
 11  response_yes                     10689 non-null  uint8
 12  employment_status_disabled       10689 non-null  uint8
 13  employment_status_employed       10689 non-null  uint8
 14  employment_status_medical leave  10689 non-null  uint8
 15  employment_status_retired        10689 non-null  uint8
 16  employment_status_unemployed     10689 non-null  uint8
 17  gender_f                         10689 non-null  uint8
 18  gender_m                         10689 non-null  uint8
 19  marital_status_divorced          10689 non-null  uint8
 20  marital_status_married           10689 non-null  uint8
 21  marital_status_single            10689 non-null  uint8
 22  policy_type_corporate auto       10689 non-null  uint8
 23  policy_type_personal auto        10689 non-null  uint8
 24  policy_type_special auto         10689 non-null  uint8
 25  policy_corporate l1              10689 non-null  uint8
 26  policy_corporate l2              10689 non-null  uint8
 27  policy_corporate l3              10689 non-null  uint8
 28  policy_personal l1               10689 non-null  uint8
 29  policy_personal l2               10689 non-null  uint8
 30  policy_personal l3               10689 non-null  uint8
 31  policy_special l1                10689 non-null  uint8
 32  policy_special l2                10689 non-null  uint8
 33  policy_special l3                10689 non-null  uint8
 34  sales_channel_agent              10689 non-null  uint8
 35  sales_channel_branch             10689 non-null  uint8
 36  sales_channel_call center        10689 non-null  uint8
 37  sales_channel_web                10689 non-null  uint8
 38  vehicle_class_four-door car      10689 non-null  uint8
 39  vehicle_class_luxury car         10689 non-null  uint8
 40  vehicle_class_luxury suv         10689 non-null  uint8
 41  vehicle_class_sports car         10689 non-null  uint8
 42  vehicle_class_suv                10689 non-null  uint8
 43  vehicle_class_two-door car       10689 non-null  uint8
dtypes: int64(6), uint8(38)
memory usage: 897.8 KB

### Concatenate categorical_encoded and numerical

In [18]:
final_df = pd.concat([categorical_encoded, numerical], axis=1)

In [19]:
final_df

,education_encoded,coverage_encoded,renew_offer_type_encoded,vehicle_size_encoded,location_code_encoded,month_encoded,region_central,region_east,region_north west,region_west region,response_no,response_yes,employment_status_disabled,employment_status_employed,employment_status_medical leave,employment_status_retired,employment_status_unemployed,gender_f,gender_m,marital_status_divorced,marital_status_married,marital_status_single,policy_type_corporate auto,policy_type_personal auto,policy_type_special auto,policy_corporate l1,policy_corporate l2,policy_corporate l3,policy_personal l1,policy_personal l2,policy_personal l3,policy_special l1,policy_special l2,policy_special l3,sales_channel_agent,sales_channel_branch,sales_channel_call center,sales_channel_web,vehicle_class_four-door car,vehicle_class_luxury car,vehicle_class_luxury suv,vehicle_class_sports car,vehicle_class_suv,vehicle_class_two-door car,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,total_claim_amount
0,1,0,2,1,1,1,1,0,0,0,1,0,0,1,0,0,0,0,1,0,1,0,1,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,4809,48029,61,7,52,0,9,292
1,1,0,3,1,1,0,0,0,0,1,1,0,0,0,0,0,1,1,0,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,0,0,1,0,1,0,0,0,0,0,2228,92260,64,3,26,0,1,744
2,2,0,2,1,1,1,0,1,0,0,1,0,0,1,0,0,0,0,1,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,1,0,14947,22139,100,34,31,0,2,480
3,1,1,1,1,1,0,0,0,1,0,0,1,0,1,0,0,0,0,1,0,0,1,1,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,22332,49078,97,10,3,0,2,484
4,2,2,0,1,1,0,0,0,1,0,1,0,0,0,1,0,0,1,0,0,1,0,0,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0,1,0,0,0,0,0,9025,23675,117,33,31,0,7,707
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10684,2,2,2,1,1,0,1,0,0,0,1,0,0,0,0,0,1,1,0,0,1,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,15563,61541,253,12,40,0,7,1214
10685,1,0,1,1,2,0,0,0,1,0,1,0,0,1,0,0,0,1,0,0,1,0,0,1,0,0,0,0,0,0,1,0,0,0,0,1,0,0,1,0,0,0,0,0,5259,61146,65,7,68,0,6,273
10686,2,1,0,1,0,1,1,0,0,0,1,0,0,1,0,0,0,1,0,0,1,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,23893,39837,201,11,63,0,2,381
10687,1,2,0,1,2,1,0,0,0,1,1,0,0,1,0,0,0,1,0,1,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,11971,64195,158,0,27,4,6,618
10688,2,0,3,1,1,0,1,0,0,0,1,0,0,0,0,0,1,0,1,0,0,1,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,6857,68942,101,31,1,0,3,1021

In [20]:
final_df.columns.tolist()

['education_encoded',
 'coverage_encoded',
 'renew_offer_type_encoded',
 'vehicle_size_encoded',
 'location_code_encoded',
 'month_encoded',
 'region_central',
 'region_east',
 'region_north west',
 'region_west region',
 'response_no',
 'response_yes',
 'employment_status_disabled',
 'employment_status_employed',
 'employment_status_medical leave',
 'employment_status_retired',
 'employment_status_unemployed',
 'gender_f',
 'gender_m',
 'marital_status_divorced',
 'marital_status_married',
 'marital_status_single',
 'policy_type_corporate auto',
 'policy_type_personal auto',
 'policy_type_special auto',
 'policy_corporate l1',
 'policy_corporate l2',
 'policy_corporate l3',
 'policy_personal l1',
 'policy_personal l2',
 'policy_personal l3',
 'policy_special l1',
 'policy_special l2',
 'policy_special l3',
 'sales_channel_agent',
 'sales_channel_branch',
 'sales_channel_call center',
 'sales_channel_web',
 'vehicle_class_four-door car',
 'vehicle_class_luxury car',
 'vehicle_class_luxury suv',
 'vehicle_class_sports car',
 'vehicle_class_suv',
 'vehicle_class_two-door car',
 'customer_lifetime_value',
 'income',
 'monthly_premium_auto',
 'months_since_last_claim',
 'months_since_policy_inception',
 'number_of_open_complaints',
 'number_of_policies',
 'total_claim_amount']

# X-Y SPLIT

In [21]:
X= final_df [['education_encoded',
 'coverage_encoded',
 'renew_offer_type_encoded',
 'vehicle_size_encoded',
 'location_code_encoded',
 'month_encoded',
 'region_central',
 'region_east',
 'region_north west',
 'region_west region',
 'response_no',
 'response_yes',
 'employment_status_disabled',
 'employment_status_employed',
 'employment_status_medical leave',
 'employment_status_retired',
 'employment_status_unemployed',
 'gender_f',
 'gender_m',
 'marital_status_divorced',
 'marital_status_married',
 'marital_status_single',
 'policy_type_corporate auto',
 'policy_type_personal auto',
 'policy_type_special auto',
 'policy_corporate l1',
 'policy_corporate l2',
 'policy_corporate l3',
 'policy_personal l1',
 'policy_personal l2',
 'policy_personal l3',
 'policy_special l1',
 'policy_special l2',
 'policy_special l3',
 'sales_channel_agent',
 'sales_channel_branch',
 'sales_channel_call center',
 'sales_channel_web',
 'vehicle_class_four-door car',
 'vehicle_class_luxury car',
 'vehicle_class_luxury suv',
 'vehicle_class_sports car',
 'vehicle_class_suv',
 'vehicle_class_two-door car',
 'customer_lifetime_value',
 'income',
 'monthly_premium_auto',
 'months_since_last_claim',
 'months_since_policy_inception',
 'number_of_open_complaints',
 'number_of_policies']]
y = final_df ['total_claim_amount']

### Train-Test Split

In [22]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split (X,y, test_size=0.3, random_state=42)

## Model Generation

In [23]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")
from sklearn.linear_model import LinearRegression

In [24]:
X_train = X_train.select_dtypes(include=np.number)
X_test  = X_test.select_dtypes(include=np.number)

#### Linear Regression

In [25]:
model=LinearRegression()
model.fit(X_train, y_train)
print(f"{model.__class__.__name__}: Train -> {model.score(X_train, y_train)}, Test -> {model.score(X_test, y_test)}")

LinearRegression: Train -> 0.6217164234016814, Test -> 0.6336546388880611

#### Lasso

In [26]:
from sklearn.linear_model import Lasso,Ridge,ElasticNet, LinearRegression
model=Lasso(alpha=0)

model.fit(X_train, y_train)
print(f"{model.__class__.__name__}: Train -> {model.score(X_train, y_train)}, Test -> {model.score(X_test, y_test)}")

Lasso: Train -> 0.6217164234016813, Test -> 0.6336546388881386

#### Ridge

In [27]:
model=Ridge(alpha=0)
model.fit(X_train, y_train)
print(f"{model.__class__.__name__}: Train -> {model.score(X_train, y_train)}, Test -> {model.score(X_test, y_test)}")

Ridge: Train -> 0.6210372725811837, Test -> 0.63171852903498

#### compare

In [28]:
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error

# Linear Regression
linear_regression_train_score = model.score(X_train, y_train)
linear_regression_test_score = model.score(X_test, y_test)
linear_regression_predictions = model.predict(X_test)
linear_regression_mse = mean_squared_error(y_test, linear_regression_predictions)
linear_regression_mae = mean_absolute_error(y_test, linear_regression_predictions)

# Lasso
lasso_train_score = model.score(X_train, y_train)
lasso_test_score = model.score(X_test, y_test)
lasso_predictions = model.predict(X_test)
lasso_mse = mean_squared_error(y_test, lasso_predictions)
lasso_mae = mean_absolute_error(y_test, lasso_predictions)

# Ridge
ridge_train_score = model.score(X_train, y_train)
ridge_test_score = model.score(X_test, y_test)
ridge_predictions = model.predict(X_test)
ridge_mse = mean_squared_error(y_test, ridge_predictions)
ridge_mae = mean_absolute_error(y_test, ridge_predictions)

# Displaying the results
print("Linear Regression:")
print("Train R-squared:", linear_regression_train_score)
print("Test R-squared:", linear_regression_test_score)
print("Mean Squared Error:", linear_regression_mse)
print("Mean Absolute Error:", linear_regression_mae)
print("------------------------------------")
print("Lasso:")
print("Train R-squared:", lasso_train_score)
print("Test R-squared:", lasso_test_score)
print("Mean Squared Error:", lasso_mse)
print("Mean Absolute Error:", lasso_mae)
print("------------------------------------")
print("Ridge:")
print("Train R-squared:", ridge_train_score)
print("Test R-squared:", ridge_test_score)
print("Mean Squared Error:", ridge_mse)
print("Mean Absolute Error:", ridge_mae)

Linear Regression:
Train R-squared: 0.6210372725811837
Test R-squared: 0.63171852903498
Mean Squared Error: 30755.629769627667
Mean Absolute Error: 129.59816696980604
------------------------------------
Lasso:
Train R-squared: 0.6210372725811837
Test R-squared: 0.63171852903498
Mean Squared Error: 30755.629769627667
Mean Absolute Error: 129.59816696980604
------------------------------------
Ridge:
Train R-squared: 0.6210372725811837
Test R-squared: 0.63171852903498
Mean Squared Error: 30755.629769627667
Mean Absolute Error: 129.59816696980604

In [29]:
import statsmodels.api as sm
from sklearn.feature_selection import RFE

In [30]:
X_train_with_constant = sm.add_constant(X_train)  # Add a constant column to X_train
model_pvalue = sm.OLS(y_train, X_train_with_constant).fit()  # Fit an Ordinary Least Squares (OLS) model
p_values = model_pvalue.pvalues[1:]  # Exclude the constant column p-value
significant_features = p_values[p_values < 0.05].index  # Select features with p-value < 0.05
X_train_pvalue = X_train[significant_features]
X_test_pvalue = X_test[significant_features]

In [31]:
model_rfe = LinearRegression()  # Use the LinearRegression model for RFE
rfe = RFE(model_rfe, n_features_to_select=10)  # Select top 10 features
rfe.fit(X_train, y_train)
X_train_rfe = X_train.loc[:, rfe.support_]  # Select the features chosen by RFE
X_test_rfe = X_test.loc[:, rfe.support_]

In [32]:
from sklearn.feature_selection import SelectKBest, f_regression

# Perform P-value feature selection using SelectKBest
selector = SelectKBest(score_func=f_regression, k=15)  # Select top 10 features
X_train_pvalue = selector.fit_transform(X_train, y_train)
X_test_pvalue = selector.transform(X_test)
selected_features = selector.get_support(indices=True)  # Get the indices of selected features

# Train and evaluate the model with P-value selected features
model_pvalue = LinearRegression()
model_pvalue.fit(X_train_pvalue, y_train)
pvalue_train_score = model_pvalue.score(X_train_pvalue, y_train)
pvalue_test_score = model_pvalue.score(X_test_pvalue, y_test)
pvalue_predictions = model_pvalue.predict(X_test_pvalue)
pvalue_mse = mean_squared_error(y_test, pvalue_predictions)
pvalue_mae = mean_absolute_error(y_test, pvalue_predictions)

# Display the results
print("P-value Feature Selection:")
print("Selected Features:", X_train.columns[selected_features])
print("Train R-squared:", pvalue_train_score)
print("Test R-squared:", pvalue_test_score)
print("Mean Squared Error:", pvalue_mse)
print("Mean Absolute Error:", pvalue_mae)

P-value Feature Selection:
Selected Features: Index(['education_encoded', 'coverage_encoded', 'location_code_encoded',
       'employment_status_employed', 'employment_status_unemployed',
       'marital_status_married', 'marital_status_single',
       'vehicle_class_four-door car', 'vehicle_class_luxury car',
       'vehicle_class_luxury suv', 'vehicle_class_suv',
       'vehicle_class_two-door car', 'customer_lifetime_value', 'income',
       'monthly_premium_auto'],
      dtype='object')
Train R-squared: 0.6137034697503306
Test R-squared: 0.6261187804877546
Mean Squared Error: 31223.271523827774
Mean Absolute Error: 130.80496047426485