In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis.csv")

In [3]:
df

,Unnamed: 0,Customer,State,Customer Lifetime Value,Response,Coverage,Education,Effective To Date,EmploymentStatus,Gender,...,Number of Open Complaints,Number of Policies,Policy Type,Policy,Renew Offer Type,Sales Channel,Total Claim Amount,Vehicle Class,Vehicle Size,Vehicle Type
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2/18/11,Employed,M,...,0.0,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,NaN
1,1,KX64629,California,2228.525238,No,Basic,College,1/18/11,Unemployed,F,...,0.0,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,NaN
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,1/17/11,Medical Leave,F,...,NaN,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,1/19/11,Unemployed,F,...,NaN,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A
10906,10906,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2/6/11,Employed,F,...,0.0,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,NaN
10908,10908,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A
10909,10909,IV32877,NaN,6857.519928,NaN,Basic,Bachelor,1/8/11,Unemployed,M,...,0.0,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,NaN

In [4]:
df.columns.tolist()

['Unnamed: 0',
 'Customer',
 'State',
 'Customer Lifetime Value',
 'Response',
 'Coverage',
 'Education',
 'Effective To Date',
 'EmploymentStatus',
 'Gender',
 'Income',
 'Location Code',
 'Marital Status',
 'Monthly Premium Auto',
 'Months Since Last Claim',
 'Months Since Policy Inception',
 'Number of Open Complaints',
 'Number of Policies',
 'Policy Type',
 'Policy',
 'Renew Offer Type',
 'Sales Channel',
 'Total Claim Amount',
 'Vehicle Class',
 'Vehicle Size',
 'Vehicle Type']

Start by reading the dataset, standardizing column names, dealing with null values and creating the month column. You can do so by

In [5]:

df.drop(columns=['Unnamed: 0'], inplace=True)

# Reset the index
df.reset_index(drop=True, inplace=True)

# Standardize all column names into lowercase
df.columns = df.columns.str.lower()

# Check for the number of null values in each column
null_counts = df.isnull().sum()

# Display the number of null values in each column
print(null_counts)

customer                            0
state                             631
customer lifetime value             0
response                          631
coverage                            0
education                           0
effective to date                   0
employmentstatus                    0
gender                              0
income                              0
location code                       0
marital status                      0
monthly premium auto                0
months since last claim           633
months since policy inception       0
number of open complaints         633
number of policies                  0
policy type                         0
policy                              0
renew offer type                    0
sales channel                       0
total claim amount                  0
vehicle class                     622
vehicle size                      622
vehicle type                     5482
dtype: int64

In [6]:
# Drop the rows with null values
df.dropna(inplace=True)

# Reset the index after dropping null values
df.reset_index(drop=True, inplace=True)

In [7]:
df

,customer,state,customer lifetime value,response,coverage,education,effective to date,employmentstatus,gender,income,...,number of open complaints,number of policies,policy type,policy,renew offer type,sales channel,total claim amount,vehicle class,vehicle size,vehicle type
0,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2/10/11,Employed,M,22139,...,0.0,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A
1,XL78013,Oregon,22332.439460,Yes,Extended,College,1/11/11,Employed,M,49078,...,0.0,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A
2,HG93801,Arizona,5154.764074,No,Extended,High School or Below,1/2/11,Employed,M,82730,...,0.0,1,Corporate Auto,Corporate L3,Offer2,Branch,442.521087,SUV,Large,A
3,KR82385,California,5454.587929,No,Basic,Master,1/26/11,Employed,M,66334,...,0.0,4,Personal Auto,Personal L3,Offer4,Call Center,331.200000,Two-Door Car,Medsize,A
4,FH51383,California,5326.677654,No,Basic,High School or Below,2/7/11,Employed,F,76717,...,0.0,6,Personal Auto,Personal L3,Offer4,Call Center,300.528579,Two-Door Car,Large,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4538,PP30874,California,3579.023825,No,Extended,High School or Below,1/24/11,Employed,F,28304,...,2.0,1,Personal Auto,Personal L2,Offer2,Agent,655.200000,Four-Door Car,Medsize,A
4539,SU71163,Arizona,2771.663013,No,Basic,College,1/7/11,Employed,M,59855,...,4.0,1,Personal Auto,Personal L2,Offer2,Branch,355.200000,Two-Door Car,Medsize,A
4540,QI63521,Nevada,19228.463620,No,Basic,High School or Below,2/24/11,Unemployed,M,0,...,0.0,2,Personal Auto,Personal L2,Offer1,Branch,897.600000,Luxury SUV,Medsize,A
4541,KX53892,Oregon,5259.444853,No,Basic,College,1/6/11,Employed,F,61146,...,0.0,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A
4542,WA60547,California,11971.977650,No,Premium,College,2/13/11,Employed,F,64195,...,4.0,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A

In [9]:
# Assuming you already have the original DataFrame 'df'

# Create a new DataFrame with customers who meet the conditions
filtered_df = df[(df['total claim amount'] > 1000) & (df['response'] == 'Yes')].copy()

# Reset the index of the filtered DataFrame
filtered_df.reset_index(drop=True, inplace=True)

In [10]:
filtered_df

,customer,state,customer lifetime value,response,coverage,education,effective to date,employmentstatus,gender,income,...,number of open complaints,number of policies,policy type,policy,renew offer type,sales channel,total claim amount,vehicle class,vehicle size,vehicle type
0,YJ16163,Oregon,11009.130490,Yes,Premium,Bachelor,1/24/11,Employed,F,51643,...,0.0,1,Special Auto,Special L3,Offer2,Agent,1358.400000,Luxury Car,Medsize,A
1,GW43195,Oregon,25807.063000,Yes,Extended,College,2/13/11,Employed,F,71210,...,1.0,2,Personal Auto,Personal L2,Offer1,Branch,1027.200000,Luxury Car,Small,A
2,IP94270,Arizona,13736.132500,Yes,Premium,Master,2/13/11,Disabled,F,16181,...,0.0,8,Personal Auto,Personal L2,Offer1,Web,1261.319869,SUV,Medsize,A
3,FJ28407,California,5619.689084,Yes,Premium,High School or Below,1/26/11,Unemployed,M,0,...,0.0,1,Personal Auto,Personal L1,Offer2,Web,1027.000029,SUV,Medsize,A
4,TU53781,Oregon,8427.172486,Yes,Extended,Bachelor,2/10/11,Employed,F,46503,...,1.0,1,Corporate Auto,Corporate L3,Offer1,Agent,1032.000000,Luxury SUV,Medsize,A
5,QO62792,Oregon,7840.165778,Yes,Extended,College,1/14/11,Employed,M,58414,...,2.0,1,Personal Auto,Personal L3,Offer2,Agent,1008.000000,Luxury SUV,Small,A
6,TA66375,Oregon,11009.130490,Yes,Premium,Bachelor,1/24/11,Employed,F,51643,...,0.0,1,Corporate Auto,Corporate L2,Offer2,Agent,1358.400000,Luxury Car,Medsize,A
7,JC11405,Oregon,10963.957230,Yes,Premium,High School or Below,2/8/11,Employed,M,55687,...,0.0,1,Personal Auto,Personal L3,Offer1,Agent,1324.800000,Luxury SUV,Medsize,A
8,FH77504,California,11009.130490,Yes,Premium,Bachelor,1/24/11,Employed,F,51643,...,0.0,1,Personal Auto,Personal L3,Offer2,Agent,1358.400000,Luxury Car,Medsize,A
9,KC26486,Arizona,8427.172486,Yes,Extended,Bachelor,2/10/11,Employed,F,46503,...,1.0,1,Personal Auto,Personal L2,Offer1,Agent,1032.000000,Luxury SUV,Medsize,A
10,WP58340,Arizona,10963.957230,Yes,Premium,High School or Below,2/8/11,Employed,M,55687,...,0.0,1,Personal Auto,Personal L2,Offer1,Agent,1324.800000,Luxury SUV,Medsize,A
11,LT72149,Nevada,5619.689084,Yes,Premium,High School or Below,1/26/11,Unemployed,M,0,...,0.0,1,Personal Auto,Personal L2,Offer2,Web,1027.000029,SUV,Medsize,A
12,TC99043,California,13736.132500,Yes,Premium,Master,2/13/11,Disabled,F,16181,...,0.0,8,Personal Auto,Personal L2,Offer1,Web,1261.319869,SUV,Medsize,A
13,GP83239,California,7840.165778,Yes,Extended,College,1/14/11,Employed,M,58414,...,2.0,1,Personal Auto,Personal L3,Offer2,Agent,1008.000000,Luxury SUV,Small,A
14,UT48216,Nevada,7840.165778,Yes,Extended,College,1/14/11,Employed,M,58414,...,2.0,1,Personal Auto,Personal L1,Offer2,Agent,1008.000000,Luxury SUV,Small,A
15,TQ84956,California,10963.957230,Yes,Premium,High School or Below,2/8/11,Employed,M,55687,...,0.0,1,Corporate Auto,Corporate L3,Offer1,Agent,1324.800000,Luxury SUV,Medsize,A
16,TY31217,Washington,11009.130490,Yes,Premium,Bachelor,1/24/11,Employed,F,51643,...,0.0,1,Personal Auto,Personal L3,Offer2,Agent,1358.400000,Luxury Car,Medsize,A
17,PN98247,California,7840.165778,Yes,Extended,College,1/14/11,Employed,M,58414,...,2.0,1,Personal Auto,Personal L3,Offer2,Agent,1008.000000,Luxury SUV,Small,A
18,MJ51323,Oregon,8427.172486,Yes,Extended,Bachelor,2/10/11,Employed,F,46503,...,1.0,1,Personal Auto,Personal L2,Offer1,Agent,1032.000000,Luxury SUV,Medsize,A
19,AJ89108,California,11009.130490,Yes,Premium,Bachelor,1/24/11,Employed,F,51643,...,0.0,1,Personal Auto,Personal L3,Offer2,Agent,1358.400000,Luxury Car,Medsize,A
20,DT77901,Oregon,10179.717040,Yes,Premium,Bachelor,1/5/11,Retired,F,14290,...,0.0,1,Personal Auto,Personal L3,Offer1,Agent,1300.800000,Luxury SUV,Medsize,A
21,YU86361,Washington,19160.989940,Yes,Extended,Master,2/20/11,Employed,F,22705,...,0.0,7,Personal Auto,Personal L1,Offer2,Agent,1294.700423,Luxury SUV,Medsize,A
22,XT93203,California,10963.957230,Yes,Premium,High School or Below,2/8/11,Employed,M,55687,...,0.0,1,Personal Auto,Personal L3,Offer1,Agent,1324.800000,Luxury SUV,Medsize,A
23,IV54766,Oregon,19160.989940,Yes,Extended,Master,2/20/11,Employed,F,22705,...,0.0,7,Personal Auto,Personal L1,Offer2,Agent,1294.700423,Luxury SUV,Medsize,A
24,GD55093,California,19160.989940,Yes,Extended,Master,2/20/11,Employed,F,22705,...,0.0,7,Personal Auto,Personal L1,Offer2,Agent,1294.700423,Luxury SUV,Medsize,A
25,YP53257,Oregon,10179.717040,Yes,Premium,Bachelor,1/5/11,Retired,F,14290,...,0.0,1,Personal Auto,Personal L3,Offer1,Agent,1300.800000,Luxury SUV,Medsize,A
26,CK39096,Oregon,5619.689084,Yes,Premium,High School or Below,1/26/11,Unemployed,M,0,...,0.0,1,Personal Auto,Personal L3,Offer2,Web,1027.000029,SUV,Medsize,A

 average total_claim_amount by each policy type and gender for customers who have responded "Yes" to the last marketing campaign

In [11]:
filtered_df = df[df['response'] == 'Yes']

# Group by 'policy type' and 'gender', and calculate the average total_claim_amount for each group
average_claim_amount_by_policy_gender = filtered_df.groupby(['policy type', 'gender'])['total claim amount'].mean().reset_index()

# Optionally, round the average claim amount to 2 decimal places
average_claim_amount_by_policy_gender['total claim amount'] = average_claim_amount_by_policy_gender['total claim amount'].round(2)

# Display the result
print(average_claim_amount_by_policy_gender)

      policy type gender  total claim amount
0  Corporate Auto      F              404.10
1  Corporate Auto      M              391.37
2   Personal Auto      F              457.06
3   Personal Auto      M              472.49
4    Special Auto      F              495.69
5    Special Auto      M              368.52

total number of customers who have policies in each state, and then filter the results to only include states where there are more than 500 customers

In [13]:
customer_count_by_state = df.groupby('state')['customer'].count()


states_with_more_than_500_customers = customer_count_by_state[customer_count_by_state > 500]

print(states_with_more_than_500_customers)

state
Arizona        868
California    1552
Oregon        1281
Name: customer, dtype: int64

median customer lifetime value by education level and gender

In [14]:
median_clv_by_education_gender = df.groupby(['education', 'gender'])['customer lifetime value'].median().reset_index()

print(median_clv_by_education_gender)

              education gender  customer lifetime value
0              Bachelor      F              5752.485185
1              Bachelor      M              5797.377350
2               College      F              5642.596077
3               College      M              6005.847375
4                Doctor      F              5789.850900
5                Doctor      M              5843.989737
6  High School or Below      F              5978.754765
7  High School or Below      M              6081.481291
8                Master      F              5714.165863
9                Master      M              5512.342258

maximum, minimum, and average number of open complaints by state and policy type

In [17]:
complaint_stats_by_state_policy = df.groupby(['state', 'policy type'])['number of open complaints'].agg(['max', 'min', 'mean']).reset_index()

complaint_stats_by_state_policy

         state     policy type  max  min      mean
0      Arizona  Corporate Auto  5.0  0.0  0.456790
1      Arizona   Personal Auto  5.0  0.0  0.413374
2      Arizona    Special Auto  3.0  0.0  0.229167
3   California  Corporate Auto  4.0  0.0  0.296703
4   California   Personal Auto  5.0  0.0  0.398589
5   California    Special Auto  4.0  0.0  0.388889
6       Nevada  Corporate Auto  3.0  0.0  0.393617
7       Nevada   Personal Auto  5.0  0.0  0.422492
8       Nevada    Special Auto  3.0  0.0  0.285714
9       Oregon  Corporate Auto  4.0  0.0  0.331984
10      Oregon   Personal Auto  5.0  0.0  0.373444
11      Oregon    Special Auto  5.0  0.0  0.328571
12  Washington  Corporate Auto  4.0  0.0  0.467532
13  Washington   Personal Auto  5.0  0.0  0.409836
14  Washington    Special Auto  4.0  0.0  0.562500

analyze the number of policies sold by state and month

In [21]:

df['effective to date'] = pd.to_datetime(df['effective to date'])


df['Year'] = df['effective to date'].dt.year
df['Month'] = df['effective to date'].dt.month

policies_by_state_month = df.groupby(['state', 'Year', 'Month'])['number of policies'].count().reset_index()

policies_by_state_month.rename(columns={'number of policies': 'Number of Policies Sold'}, inplace=True)


print(policies_by_state_month)

        state  Year  Month  Number of Policies Sold
0     Arizona  2011      1                      453
1     Arizona  2011      2                      415
2  California  2011      1                      826
3  California  2011      2                      726
4      Nevada  2011      1                      247
5      Nevada  2011      2                      197
6      Oregon  2011      1                      676
7      Oregon  2011      2                      605
8  Washington  2011      1                      207
9  Washington  2011      2                      191

In [23]:

df['effective to date'] = pd.to_datetime(df['effective to date'])

df['Year'] = df['effective to date'].dt.year
df['Month'] = df['effective to date'].dt.month

pivot_table_data = pd.pivot_table(df, values='number of policies', index='state', columns='Month', aggfunc='count', fill_value=0)

pivot_table_data

Month         1    2
state
Arizona     453  415
California  826  726
Nevada      247  197
Oregon      676  605
Washington  207  191

In [26]:
policies_by_state_month = df.groupby(['state', 'Month'])['number of policies'].count().reset_index()

sorted_policies = policies_by_state_month.sort_values(by='number of policies', ascending=False)

top_3_states = sorted_policies['state'].head(3).tolist()


top_3_states_policies = policies_by_state_month[policies_by_state_month['state'].isin(top_3_states)]

print(top_3_states_policies)

        state  Month  number of policies
2  California      1                 826
3  California      2                 726
6      Oregon      1                 676
7      Oregon      2                 605

The marketing team wants to analyze the effect of different marketing channels on the customer response rate.

In [28]:

unpivoted_data = df.melt(id_vars=['customer', 'sales channel'], value_vars=['response'], var_name='variable', value_name='response')

customer_response_yes = unpivoted_data[unpivoted_data['response'] == 'Yes']

customer_response_rate = customer_response_yes.groupby('sales channel')['response'].count() / df.groupby('sales channel')['response'].count()

print(customer_response_rate)

sales channel
Agent          0.189606
Branch         0.098716
Call Center    0.109853
Web            0.134238
Name: response, dtype: float64

/var/folders/6x/86vt80p56r33nt6627tff6340000gn/T/ipykernel_76006/413075359.py:1: FutureWarning: This dataframe has a column name that matches the 'value_name' column name of the resulting Dataframe. In the future this will raise an error, please set the 'value_name' parameter of DataFrame.melt to a unique name.
  unpivoted_data = df.melt(id_vars=['customer', 'sales channel'], value_vars=['response'], var_name='variable', value_name='response')